html
  head
    link(rel="stylesheet", href="index.css", type="text/css")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" />
    title TempSense – A COMP 264 Project
  body
    div.container
      div.title
        h1 TempSense
        p A COMP 264 Project
      div.timestamp
        p Last updated at
        h2 #{timestamp}
      div.c
        p The external temperature is
        h1 #{api_c}°C or #{api_f}°F
      div.f
        p The internal temperature is
        h1 #{c}°C or #{f}°F
